@model IEnumerable<WebApplication2.Models.Formateur>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-color:#add8e6; text-align:center; margin-top:25px; align-content:center;">
    <h2 style="color:red;">Formateur</h2>

    <p>
        @Html.ActionLink("Creé un nouveau formateur", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.NumFormateur }) |
                    @Html.ActionLink("Details", "Details", new { id = item.NumFormateur }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NumFormateur })
                </td>
            </tr>
        }

    </table>
    </div>
