@model WebApplication2.Models.Filiere

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron" style="background-color:#add8e6; text-align:center; margin-top:25px; align-content:center;">

    <h2 style="color:red;">Details</h2>

    <div>
        <h4>Detail du Filiere</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nomF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.secteur.nomSecteur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.secteur.nomSecteur)
            </dd>

        </dl>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodeFil }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
